# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/


# =========================
# MATLAB core artifacts
# =========================

# Autosave and backup files
*.asv
*.m~ 
*.autosave

# MATLAB compiled artifacts
*.mex*
*.p
*.slxc

# MATLAB live editor cache
*.mlx.bak

# MATLAB code generation
codegen/
slprj/

# MATLAB project and path state
src/matlab/.matlab/
src/matlab/resources/


# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db
