# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# ===============================
# MATLAB
# ===============================
*.asv
*.m~
*.mlx.autosave
*.mat

src/matlab/resources/

# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db
